# 02 Data Consistency Checks

    01 Cleaning and Consistency Checks for orders data
    02 Cleaning and Consistency Checks for product data 
    03 Data Export

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Creating a path
path = r'C:\Users\Lenovo\OneDrive\Dokumente\CareerFoundry\Data Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis - Kopie'

In [4]:
# Import orders.csv and products.csv
df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_wrangled.csv'))
df_prods = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'products.csv'))

## 01 Cleaning and Consistency Checks for orders data

        Consistency check
        Missing values
        Checking for mixed-type data
        Checking for duplicates

### Consistency check

In [5]:
# Consistency Check
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01


#### This all looks fine to me. 0-23 hours of the day, days since prior order is between 0 and 30 sounds reasonable, 0-6 days of a week

### Missing values

In [6]:
# Finding missing values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

#### The missing data makes sense, since a first-time customers cannot have reasonabele data in it

### Checking for mixed-type data

In [7]:
# Check for mixed types
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### Checking for duplicates

In [8]:
# checking for duplicates
df_ords_dups = df_ords[df_ords.duplicated()]

In [9]:
df_ords_dups.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              0 non-null      int64
 1   order_id                0 non-null      int64
 2   user_id                 0 non-null      int64
 3   order_number            0 non-null      int64
 4   orders_day_of_week      0 non-null      int64
 5   order_hour_of_day       0 non-null      int64
 6   days_since_prior_order  0 non-null      float64
dtypes: float64(1), int64(6)
memory usage: 0.0 bytes

#### df_ords doesn't contain any duplicates

In [11]:
df_ords.shape

(3421083, 7)

## 02 Cleaning and Consistency Checks for product data 

    Consistency check
    Missing value
    Subset of clean data
    Checking for duplicates in subset
    Clean subset without duplicates

### Consistency check

In [10]:
df_prods.shape

(49693, 5)

In [67]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

### Missing values

In [68]:
# Finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [69]:
# Creating a subset of data with missing values
df_nan=df_prods[df_prods['product_name'].isnull() == True]

In [70]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [71]:
df_prods.shape

(49693, 5)

### Subset of clean data

In [72]:
# Creating a clean df
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [73]:
df_prods_clean.shape

(49677, 5)

### Checking for duplicates in subset

In [74]:
#Creating a subset of duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [75]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

### Clean subset without duplicates

In [76]:
# Creating a clean df with no duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [77]:
df_prods_clean_no_dups.shape

(49672, 5)

In [78]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

#### Checking reasonability of key figures
a price of 99.999$ seems very high. 75% goes with 11. Further investigations suggested. The count and the high std makes it somehow plausible.

## 03 Export the data

In [79]:
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_final.csv'))

In [80]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_final.csv'))