# 03 Combining & Exporting Data

    01 Import the orders_products_combined dataframe
    02 Check the shape of the imported dataframe
    03 Merging orders_products_combined dataframe with your products data set
    04 Confirm the results of the merge using the merge flag
    05 Export the newly created dataframe

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 01 Import the orders_products_combined dataframe

In [3]:
# Creating a path
path = r'C:\Users\Lenovo\OneDrive\Dokumente\CareerFoundry\Data Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis - Kopie'

In [4]:
# importing the data
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### 02 Check the shape of the imported dataframe

In [5]:
# Checking the shape
df_ords_prods.shape

(32434489, 11)

In [6]:
# Checking the columns
df_ords_prods.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [7]:
df_ords_prods

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,False,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,False,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,False,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,False,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,False,22920,9,0,both

In [8]:
# Dropping the _merge column because I had trouble with the second merged df
df_ords_prods = df_ords_prods.drop(columns = ['_merge'])

### 03 Merging orders_products_combined dataframe with your products data set

In [9]:
# Import products data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_final.csv'))

In [11]:
# Checking the data
df_prods.shape

(49672, 6)

In [31]:
# Dropping a unneccessary column
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [32]:
# Merging the merged orders_products data with the data of the products 
df_orders_products_merged = df_prods.merge(df_ords_prods, on = 'product_id',how = 'inner', indicator = True,)

### 04 Confirm the results of the merge using the merge flag

In [33]:
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [34]:
df_orders_products_merged.value_counts('_merge')

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [35]:
df_prods.shape

(49672, 5)

### 05 Export the newly created dataframe

In [36]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))